---
title: Docs
description: >-
    Clarity syntax documentation
---

<p>
	Clarity is dead simple to use, and most likely you would not need to refer
	docs once you get a hang of it. Here are some of the key concepts:
</p>
<h2>Key Concepts</h2>
<ul>
	<li>
		<h4>Lines as sequence of boxes</h4>
		<p>
			Each line of text, as long as it has text, is rendered as a box.
			Multiple lines are rendered as sequence of boxes, connected by
			arrows. At this point, the diagram flows from top to bottom.
		</p>
	</li>
	<li>
		<h4>Hashtags for special behavior</h4>
		<p>
			Hashtags (a.k.a. directives) can be dropped on any line for special
			behavior. For example, if you want to make round corners out of an
			entry box, simply drop #enter directive anywhere on the line. It
			does not matter where a directive is placed in a line. See
			"Directives" section below for list of available directives.
		</p>
	</li>
	<li>
		<h4>Indentation for groups</h4>
		<p>
			Indentation is typically used to group a number of statements
			together. For example, see the usage of #group and #if directives.
		</p>
	</li>
	<li>
		<h4>Comments</h4>
		<p>
			Clarity supports C style comments with double forward slashes.
			Anything in comments is ignored.
		</p>
	</li>
</ul>

<h2>Directives</h2>
<ul class="staff">
	{% for d in site.directives %}
	<li>
		<div class="square-image">
			<img
				src="{% include relative-src.html src=d.name %}"
				alt="{{ d.name }}"
			/>
		</div>
		<div class="name">
			<a target="_blank" href="https://twitter.com/{{ d.twitter }}"
				>{{ d.name }}</a
			>
		</div>
		<div class="position">{{ d.description }}</div>
	</li>
	{% endfor %}
</ul>
